.mt10 { margin-top:10px ; }
.mt20 { margin-top:20px ; }
.mt30 { margin-top:30px ; }
.mt40 { margin-top:40px ; }
.mt50 { margin-top:50px ; }

.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }




.banner {
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	text-align:center;
}
.section {
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	text-align:center;
}

#skills {
	background:#fff url(../images/banner/shap1.gif) center top no-repeat;
	height:100%;
}
#services {
	background:#fbfbfb;
	height:100%;
}


/* ==========================================================================
   首页banner
   ========================================================================== */
#guanbanner {
	background:#fff;
	height:100%;
	background:#120e00;
	color:#379f7a;
}

#guanbanner h2 {
	font-size:36px;
	font-weight:normal;
	font-family:"TTXianHeiJ","microsoft yahei","微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#guanbanner h1 {
	font-size:56px;
	font-weight:bold;
	margin-top:10px;
}
#guanbanner p {
	font-size:16px;
	color:#535353;
	margin-top:10px;
}



.march {
	position:relative;
	top:100%;
	margin-top:-280px;
	-webkit-animation: turn 12s linear infinite;
}

@-webkit-keyframes turn {
	100% {
		-webkit-transform: rotate(360deg);
	}
}


#indexgs {
	width: 100%;
	height: 100%;
	position:absolute;
}
#indexg2 img{
	right:180px;
	bottom: 120px;
	position: absolute;
}
#indexg1 img{
	left: 350px;
	top: 60px;
	position: absolute
}
#indexg0 img{
	left: 160px;
	bottom: 200px;
	position: absolute;
}
#indexg3 img{
	right: 400px;
	top: 270px;
	position: absolute;
}


/* ==========================================================================
   全屏
   ========================================================================== */





.title { position:relative; }
.title .serline {
	background:url(../images/icon/serline.png) no-repeat top center;
	position:absolute;
	float:left;
	width:98%;
	height:127px;
	top:105px;
	z-index:99;
}
.title h1 {
	font-size:50px;
	font-family:"TTXianHeiJ","microsoft yahei","微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:center;
}

.title span.infos {
	font-size:20px;
	color:#909090;
	font-weight:normal;
	display:block;
	text-align:center;
	margin-top:10px;
}
.title span.smalltitle {
	font-size:30px;
	color:#379f7a;
	font-weight:normal;
	display:block;
	text-align:center;
	font-family:"TTXianHeiJ","microsoft yahei","微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ser i {
	background:url(../images/icon/lay.png) no-repeat;
}
.title h1 span.service {
	background-position:0 0px;
	width:250px;
	height:47px;
}
.title h1 span.work {
	background-position:0 -47px;
	width:250px;
	height:47px;
}
.title h1 span.steps {
	background-position:0 -94px;
	width:250px;
	height:47px;
}
.title h1 span.infos {
	margin-left:180px;
	background-position:-300px 2px;
	width:300px;
	height:47px;
}
.title a {
	background:url(../images/icon/arrow.png) center center no-repeat;
	width:50px;
	height:50px;
	margin-top:18px;
}
.title a.black {
	background:url(../images/icon/arrow_2.png) center center no-repeat;
	width:50px;
	height:50px;
	margin-top:20px;
}
.title a:hover {
	background:url(../images/icon/arrow_1.png) center center no-repeat;
}


/* ==========================================================================
   全屏
   ========================================================================== */


.ser {
	background-color:#fff;
	border:1px solid transparent;
	border-radius:4px;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
	box-shadow:0 1px 1px rgba(0,0,0,.05);
	border:1px solid #eaeef1;
	padding:50px 0;
}
.sertop {
	text-align:center;
}
.ser i {
	display:block;
	margin:0px auto 20px auto;
	font-size:40px;
	width:90px;
	color:#fff;
	height:90px;
	padding-top:25px;
	border-radius:50%;
	-webkit-transition:all .4s ease-in-out .1s;
	transition:all .4s ease-in-out .1s;
}
.ser i.one {
	background-position:0 -710px;
}
.ser i.two {
	background-position:-90px -710px;
}
.ser i.three {
	background-position:-180px -710px;
}
.ser i.four {
	background-position:-270px -710px;
}
.ser:hover i {
	font-size:44px;
	color:#fff;
	padding-top:23px;
	moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
}
/*.ser:hover i.one {
	background-position:0px -620px;
}
.ser:hover i.two {
	background-position:-90px -620px;
}
.ser:hover i.three {
	background-position:-180px -620px;
}
.ser:hover i.four {
	background-position:-270px -620px;
}
*/


.sertop span {
	width:70px;
	height:70px;
	display:block;
	margin:0 auto
}
.sertop h2 {
	color:#333;
	margin:30px auto 30px auto;
	display:block;
	font-size:24px;
	width:100px;
	height:25px;
	font-weight:normal;
	font-family:"Hiragino Sans GB","Hiragino Sans GB W3",'Microsoft YaHei','Helvetica Neue',Helvetica,Arial,Sans-serif;
}

.sercol {
	text-align:center;
	padding:0px 2px 0px 2px;
}
.sercol p {
	margin-bottom:50px;
	font-size:16px;
}
.ser:hover .sercol p {
	color:#379f7a;
}
.ser a {
	padding:7px 20px 7px 20px;
	border-radius:3px;
	border:1px solid #ccc;
}
.ser a em {
	font-style:normal;
	font-size:18px;
	margin-left:5px;
}
.ser:hover a {
	padding:6px 20px;
	border-radius:3px;
	border:1px solid #379f7a;
	color:#379f7a;
}










/* ==========================================================================
   全屏
   ========================================================================== */



.step {
	height:390px;
	background:#ffffff;
}
.stepcol {
	text-align:center;
	background:#f2f2f2;
	padding:20px;
	border-radius:3px;
}
.stepcol.active {
	background:#379f7a;
}
.stepcol.active i {
	color:#fff;
}
.stepcol.active h2 {
	color:#fff;
}
.stepcol i {
	font-size:50px;
	color:#333;
	transition:background-color 0.5s ease-out;
	-o-transition:background-color 0.5s ease-out;
	-moz-transition:background-color 0.5s ease-out;
	-webkit-transition:background-color 0.5s ease-out;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
}
.stepcol h2 {
	font-size:18px;
}
.stepcol:hover {
	background:#379f7a;
	cursor:pointer;
}
.stepcol:hover i {
	color:#fff;
}
.stepcol:hover h2 {
	color:#fff;
}





.page_navigation a{
	padding:3px;
	margin:2px;
	color:#282828;
	text-decoration:none;
}
.page_navigation a:hover{
	padding:3px;
	margin:2px;
	color:#609bec;
	text-decoration:underline;
}
.active_page{
	padding:3px;
	margin:2px;
	color:#609bec !important;
	text-decoration:underline !important;
}





















/* ==========================================================================
   全屏
   ========================================================================== */

.goNext{
	position:fixed;
	width:134px;
	height:44px;
	bottom:20px;
	left:50%;
	margin-left:-67px;
	animation:yitesc 1s linear infinite;
    -moz-animation: yitesc 1s linear infinite;
    -o-animation: yitesc 1s linear infinite;
	-webkit-animation:yitesc 1s linear infinite;
	background:url(../images/ynext.png) no-repeat;;
}


@keyframes yitesc
{
	0% { bottom:20px; }
	100% { bottom:40px;}
}

@-moz-keyframes yitesc
{
	0% { bottom:20px; }
	100% { bottom:40px;}
}

@-webkit-keyframes yitesc
{
	0% { bottom:20px; }
	100% { bottom:40px;}
}

@-o-keyframes yitesc
{
	0% { bottom:20px; }
	100% { bottom:40px;}
}





/* ==========================================================================
   Mountain
   ========================================================================== */
   
.animation-container {
	overflow:hidden;
	height:100%;
	width:100%;
	position:absolute; bottom:0;
	z-index:0;
}
.back-mountain,.front-mountain, .car, .carsm, .road, .back-sea,.front-sea, .fish, .fishsm {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	right:0;
	bottom:0;
}
.car {
	bottom:20px;
}
.carsm {
	bottom:20px;
}
.back-mountain {
	background:url(../img/back-mt.png) center bottom repeat-x;
}
.front-mountain {
	background:url(../img/front-mt.png) center bottom repeat-x;
}
.car {
	background:url(../img/car3.png) center bottom repeat-x;
}
.carsm {
	background:url(../img/car2.png) center bottom repeat-x;
}

.cloud {
	background:url(../img/cloud.png) left bottom repeat-x;
	width:100%;
	height:100%;
}
.road { 
    background:url(../img/road.png) left bottom repeat-x;
	width:100%;
	height:100%;
}
.back-sea {
	background:url(../img/sea1.png) center bottom repeat-x;
	z-index:0;
}
.front-sea {
	background:url(../img/sea2.png) center bottom repeat-x;
	z-index:10;
}
.fish {
	background:url(../img/fish2.png) center bottom repeat-x;
}
.fishsm {
	background:url(../img/fish1.png) center bottom repeat-x;
}


/*open pop*/
#overlay{position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;filter:Alpha(opacity=50); z-index:100; display:none;}
#newsContent{z-index:10000;top:0px;width:1024px;height:100%;background:#fff;position:fixed; left:50%; margin-left:-512px; display:none; padding:10px; padding-top:80px;}
.close-btn{width:37px;height:37px;display:block;background:url("../images/close.png") no-repeat;position:absolute;right:10px;top:10px; transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;

}
.close-btn:hover{ -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}
#ifr{background:none;border:none; width:100%; height:100%;}