/*=========mF_tab--========*/
.box{
	margin-top:22px;
	margin-left:-18px;
	float:left;
	}
.mF_tab {
	width:426px;
	height:90px;
}
.mF_tab .btn {
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.mF_tab .btn li {
	float:left;
	width:80px;
	height:26px;
	line-height:26px;
	text-align:center;
	margin-right:2px;
	border-right:1px solid #dedede;
	border-bottom:0;
	cursor:pointer;
	color:#000;
}
.mF_tab .btn li.current {
	height:27px;
	color:#4c8ffc;
}
.mF_tab .cont {
	position:absolute;
	top:27px;
	left:0;
	overflow:hidden;
	line-height:15px;
}
.mF_tab .cont .swt {
	position:absolute;
	left:0;
	top:0;
}
.mF_tab .cont .swt li p {
	padding:16px;
}

