@charset "utf-8";
/* CSS Document */

.ui-button-green, .private-letter-reply .ui-button-green-over, .private-letter-reply .ui-button-green-down, .private-letter-reply .ui-button-green-disabled, .private-letter-list .comment-list-reply .ui-button-green, .private-letter-list .comment-list-reply .ui-button-green-over, .private-letter-list .comment-list-reply .ui-button-green-down, .private-letter-list .comment-list-reply .ui-button-green-disabled, .private-letter-list .comment-list-reply .ui-button {
	float:right;
	margin:6px 0px 0px 0px;
	padding:0px
}
.private-letter-reply .ui-button-green span, .private-letter-reply .ui-button-green-over span, .private-letter-reply .ui-button-green-down span, .private-letter-reply .ui-button-green-disabled span, .private-letter-list .comment-list-reply .ui-button-green span, .private-letter-list .comment-list-reply .ui-button-green-over span, .private-letter-list .comment-list-reply .ui-button-green-down span, .private-letter-list .comment-list-reply .ui-button-green-disabled span {
	float:left;
	margin:0px 0px 0px 5px
}
@media only screen and (max-device-width: 1024px) {
.private-letter-reply .ui-button-green span, .private-letter-reply .ui-button-green-over span, .private-letter-reply .ui-button-green-down span, .private-letter-reply .ui-button-green-disabled span, .private-letter-list .comment-list-reply .ui-button-green span, .private-letter-list .comment-list-reply .ui-button-green-over span, .private-letter-list .comment-list-reply .ui-button-green-down span, .private-letter-list .comment-list-reply .ui-button-green-disabled span {
float:left;
margin:0px 0px 0px 4px
}
}
.projects-siglog .project-invite-title .ui-button {
	margin:0px 0px 0px 183px
}
.registration-tip .ui-button {
	position:absolute;
	top:5px;
*top:10px;
	padding:0px;
	left:290px;
	box-shadow:0 0 1px rgba(255, 255, 255, 0.15);
	border-radius:5px
}
.registration-tip .inner-dp .ui-button {
	margin-left:-60px
}
.backend-search .ui-button {
	margin-left:6px
}
.backend-submit .ui-button {
	float:none;
	display:inline-block;
*display:inline;
	zoom:1
}
.backend-agency-add-table .ui-button-operate-green, .backend-agency-add-table .ui-button-operate-blue {
	margin:5px 0px 5px 0px;
	float:left;
*float:none
}
.pop-up-login-r .denglu a.ui-button {
	display:block;
	float:left
}
.ui-button-gray, .ui-button-green, .ui-button-blue, .ui-button-disabled, .ui-button-gray-disabled, .ui-button-green-disabled, .ui-button-blue-disabled, .ui-button-gray span, .ui-button-green span, .ui-button-blue span, .ui-button-disabled span, .ui-button-gray-disabled span, .ui-button-green-disabled span, .ui-button-blue-disabled span, .ui-button-gray-down, .ui-button-gray-down span, .ui-button-green-down, .ui-button-green-down span, .ui-button-blue-down, .ui-button-blue-down span, .ui-button-gray-over, .ui-button-gray-over span, .ui-button-green-over, .ui-button-green-over span, .ui-button-blue-over, .ui-button-blue-over span, .ui-slider a, .ui-pagination a:hover, .ui-pagination-prev a, .ui-pagination-current a, .ui-pagination-next a, .ui-pagination a:hover span, .ui-pagination-current a span, .ui-radio label, .ui-radio-click, .ui-radio-checked, .ui-radio-checked-click, .ui-checkbox label, .ui-checkbox-click, .ui-checkbox-checked, .ui-checkbox-checked-click, .ui-flash, .ui-flash-close, .timeline-add-pic-preview .ui-popup-delete, #backtop a, .ui-feedback a, .ui-select-down, .ui-select-down-over, .ui-select-down-down, .ui-select-up-down, .ui-select-up-down-over, .ui-select-up-down-down, .ui-select-box span, .ui-select-box-over span, .ui-select-box-down span, .ui-select-box-right, .ui-help-prompt-top, .ui-help-prompt-bottom, .ui-question .ui-question-normal, .ui-question-over .ui-question-normal, .ui-img-close, .ui-notice-success, .ui-notice-failure, .ui-setting {
	background:url(../images/ui-bj.png) left top no-repeat;
	_background:url(../images/ui-bj.gif) left top no-repeat

}
.ui-button-gray, .ui-button-green, .ui-button-blue, .ui-button-disabled, .ui-button-gray-disabled, .ui-button-green-disabled, .ui-button-blue-disabled, .ui-button-gray-down, .ui-button-green-down, .ui-button-blue-down, .ui-button-gray-over, .ui-button-green-over, .ui-button-blue-over {
	padding:0px;
	border:0px;
	margin:0px 5px 0px 0px
}
.ui-button-gray, .ui-button-green, .ui-button-blue, .ui-button-disabled, .ui-button-gray-disabled, .ui-button-green-disabled, .ui-button-blue-disabled, .ui-button-gray span, .ui-button-green span, .ui-button-blue span, .ui-button-disabled span, .ui-button-gray-disabled span, .ui-button-green-disabled span, .ui-button-blue-disabled span, .ui-button-gray-down, .ui-button-gray-down span, .ui-button-green-down, .ui-button-green-down span, .ui-button-blue-down, .ui-button-blue-down span, .ui-button-gray-over, .ui-button-gray-over span, .ui-button-green-over, .ui-button-green-over span, .ui-button-blue-over, .ui-button-blue-over span {
	height:32px;
	display:block;
	float:left;
	border:0px;
	cursor:pointer;
	width:auto;
	overflow:hidden;
	white-space:nowrap
}
.ui-button-gray a, .ui-button-green a, .ui-button-blue a, .ui-button-disabled a, .ui-button-gray-disabled a, .ui-button-green-disabled a, .ui-button-blue-disabled a, .ui-button-gray-down a, .ui-button-green-down a, .ui-button-blue-down a, .ui-button-gray-over a, .ui-button-green-over a, .ui-button-blue-over a {
	display:block;
	padding:0px 10px 0px 12px;
	margin:0px 5px 0px 0px;
	float:left
}
.ui-button-gray span, .ui-button-green span, .ui-button-blue span, .ui-button-disabled span, .ui-button-gray-disabled span, .ui-button-green-disabled span, .ui-button-blue-disabled span, .ui-button-gray-down span, .ui-button-green-down span, .ui-button-blue-down span, .ui-button-gray-over span, .ui-button-green-over span, .ui-button-blue-over span {
	margin:0px 0px 0px 5px;
	padding:0px 0px 0px 0px;
	font-size:14px;
	_display:inline;
	line-height:30px;
*line-height:32px
}
@media only screen and (max-device-width: 1024px) {
.ui-button-gray span, .ui-button-green span, .ui-button-blue span, .ui-button-disabled span, .ui-button-gray-disabled span, .ui-button-green-disabled span, .ui-button-blue-disabled span, .ui-button-gray-down span, .ui-button-green-down span, .ui-button-blue-down span, .ui-button-gray-over span, .ui-button-green-over span, .ui-button-blue-over span {
margin:0px 0px 0px 4px
}
}
.ui-button-gray button, .ui-button-green button, .ui-button-blue button, .ui-button-disabled button, .ui-button-gray-disabled button, .ui-button-green-disabled button, .ui-button-blue-disabled button, .ui-button-gray-down button, .ui-button-green-down button, .ui-button-blue-down button, .ui-button-gray-over button, .ui-button-green-over button, .ui-button-blue-over button {
	background:none;
	cursor:pointer;
	width:auto;
	overflow:visible;
	white-space:nowrap;
	border:0;
	float:left;
	font-size:14px;
	line-height:29px;
	display:block;
	padding:0px 16px 0px 18px;
	margin:-1px 5px 0px 0px
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
.ui-button-gray button, .ui-button-green button, .ui-button-blue button, .ui-button-disabled button, .ui-button-gray-disabled button, .ui-button-green-disabled button, .ui-button-blue-disabled button, .ui-button-gray-down button, .ui-button-green-down button, .ui-button-blue-down button, .ui-button-gray-over button, .ui-button-green-over button, .ui-button-blue-over button {
background:none;
cursor:pointer;
width:auto;
overflow:visible;
white-space:nowrap;
border:0;
float:left;
font-size:14px;
line-height:29px;
display:block;
padding:0px 16px 0px 18px;
margin:1px 5px 0px 0px
}
}
.ui-button-gray span, .ui-button-gray button, .ui-button-gray-down span, .ui-button-gray-down button, .ui-button-gray-over span, .ui-button-gray-over button, .ui-button-gray A, .ui-button-gray A:link, .ui-button-gray A:visited, .ui-button-gray A:active, .ui-button-gray A:hover, .ui-button-gray-over A, .ui-button-gray-over A:link, .ui-button-gray-over A:visited, .ui-button-gray-over A:active, .ui-button-gray-over A:hover, .ui-button-gray-down A, .ui-button-gray-down A:link, .ui-button-gray-down A:visited, .ui-button-gray-down A:active, .ui-button-gray-down A:hover {
	color:#666
}
.ui-button-gray {
	background-position:left -350px
}
.ui-button-gray span {
	background-position:right top
}
.ui-button-gray:hover, .ui-button-gray-over {
	background-position:left -385px
}
.ui-button-gray:hover span, .ui-button-gray-over span {
	background-position:right -35px
}
.ui-button-gray-down {
	background-position:left -420px
}
.ui-button-gray-down span {
	background-position:right -70px
}
.ui-button-gray:active {
	background-position:left -350px
}
.ui-button-gray:active span {
	background-position:right top
}
.ui-button-green span, .ui-button-green button, .ui-button-green-down span, .ui-button-green-down button, .ui-button-green-over span, .ui-button-green-over button, .ui-button-green A, .ui-button-green A:link, .ui-button-green A:visited, .ui-button-green A:active, .ui-button-green A:hover, .ui-button-green-over A, .ui-button-green-over A:link, .ui-button-green-over A:visited, .ui-button-green-over A:active, .ui-button-green-over A:hover, .ui-button-green-down A, .ui-button-green-down A:link, .ui-button-green-down A:visited, .ui-button-green-down A:active, .ui-button-green-down A:hover {
	color:#fff
}
.ui-button-green {
	background-position:left -490px
}
.ui-button-green span {
	background-position:right -140px
}
.ui-button-green:hover, .ui-button-green-over {
	background-position:left -525px
}
.ui-button-green:hover span, .ui-button-green-over span {
	background-position:right -175px
}
.ui-button-green-down {
	background-position:left -560px
}
.ui-button-green-down span {
	background-position:right -210px
}
.ui-button-green:active {
	background-position:left -490px
}
.ui-button-green:active span {
	background-position:right -140px
}
.ui-button-blue span, .ui-button-blue button, .ui-button-blue-down span, .ui-button-blue-down button, .ui-button-blue-over span, .ui-button-blue-over button, .ui-button-blue A, .ui-button-blue A:link, .ui-button-blue A:visited, .ui-button-blue A:active, .ui-button-blue A:hover, .ui-button-blue-over A, .ui-button-blue-over A:link, .ui-button-blue-over A:visited, .ui-button-blue-over A:active, .ui-button-blue-over A:hover, .ui-button-blue-down A, .ui-button-blue-down A:link, .ui-button-blue-down A:visited, .ui-button-blue-down A:active, .ui-button-blue-down A:hover {
	color:#fff
}
.ui-button-blue {
	background-position:left -595px
}
.ui-button-blue span {
	background-position:right -245px
}
.ui-button-blue:hover, .ui-button-blue-over {
	background-position:left -630px
}
.ui-button-blue:hover span, .ui-button-blue-over span {
	background-position:right -280px
}
.ui-button-blue-down {
	background-position:left -665px
}
.ui-button-blue-down span {
	background-position:right -315px
}
.ui-button-blue:active {
	background-position:left -595px
}
.ui-button-blue:active span {
	background-position:right -245px
}
.ui-button-disabled, .ui-button-gray-disabled, .ui-button-green-disabled, .ui-button-blue-disabled {
	background-position:left -455px;
	cursor:auto
}
.ui-button-gray-disabled span, .ui-button-green-disabled span, .ui-button-blue-disabled span, .ui-button-gray-disabled button, .ui-button-green-disabled button, .ui-button-blue-disabled button {
	background-position:right -105px;
	color:#bababa;
	cursor:auto
}
.ui-button-gray-disabled a, .ui-button-green-disabled a, .ui-button-blue-disabled a {
	color:#bababa;
	cursor:auto
}
.ui-button-ajax-loader {
	margin:0;
	padding:0;
	display:inline-block;
*display:inline;
	zoom:1;
	width:22px;
	height:30px;
	background:url(../images/ui-button-ajax-loader.gif) no-repeat 3px center;
	overflow:hidden;
	margin-left:-22px;
	cursor:text
}
.ui-button-icon {
	margin:8px 3px 0px 0px;
	padding:0;
	height:30px;
	float:left;
	width:15px;
	overflow:hidden;
	text-align:left;
	_display:inline;
	display:block
}
.ui-button-icon img {
	float:left;
	margin:0px 0px 0px 0px;
	width:15px;
	overflow:hidden;
	_display:inline
}
.ui-button-icon-follow {
	margin:7px 3px 0px 0px;
	padding:0;
	height:30px;
	float:left;
	width:19px;
	overflow:hidden;
	text-align:left;
	_display:inline;
	display:block
}
.ui-button-icon-follow img {
	float:left;
	margin:0px 0px 0px 0px;
	width:19px;
	overflow:hidden;
	_display:inline
}