ul,li,div,p,body{margin:0;padding:0;-moz-user-select: none;-khtml-user-select: none;user-select: none;text-align:left;}
li{list-style:none;}
body, html {background:#289adf;text-align: left;height: 100%;width: 100%;font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;font-size: 16px;font-weight: normal;display: -webkit-box;-webkit-box-orient: vertical; -webkit-box-align: center;}
*{-webkit-tap-highlight-color:rgba(239,181,20,0.2);-webkit-touch-callout:none;}
body{height:100%;}
.bg{ position:relative;width:640px;height:1136px;left:0;top:0;background:url('../images/bg.jpg') no-repeat;background-size:100%;overflow:hidden; margin:0 auto;}
.download{ position:absolute; width:579px; height:163px; background:url(../images/down.png) no-repeat; top:295px; left:30px; border-radius:70px;}
.download:active{ background-position:0 -163px;}
.tip{ position:absolute; width:214px; height:130px; background:url(../images/tip.png); right:5px; top:5px; z-index:2; display:none;
animation: upd 0.5s infinite alternate;
-moz-animation: upd 0.5s infinite alternate;
-webkit-animation: upd 0.5s infinite alternate;
-o-animation: upd 0.5s infinite alternate;
}
.overly{ position:fixed; top:0; bottom:0; left:0; right:0; z-index:1;background: #000; opacity: 0.2;filter:Alpha(Opacity=20); display:none;}
.fire{ position:absolute; width:120px; height:106px; top:235px; left:585px; background:url(../images/fire.png) no-repeat;}
@keyframes fly
{
from {top:280px; left:650px;}
to {top:-106px; left:100px;}
}

@-moz-keyframes fly
{
from {top:280px; left:650px;}
to {top:-106px; left:100px;}
}

@-webkit-keyframes fly
{
from {top:280px; left:650px;}
to {top:-106px; left:100px;}
}

@-o-keyframes fly
{
from {top:280px; left:650px;}
to {top:-106px; left:100px;}
}

@keyframes upd
{
from {top:5px;}
to {top:25px;}
}

@-moz-keyframes upd
{
from {top:5px;}
to {top:25px;}
}

@-webkit-keyframes upd
{
from {top:5px;}
to {top:25px;}
}

@-o-keyframes upd
{
from {top:5px;}
to {top:25px;}
}
