ul,li,div,p,body{margin:0;padding:0;-moz-user-select: none;-khtml-user-select: none;user-select: none;text-align:left;}
li{list-style:none;}
a{text-decoration:none;}
.last{ margin-right:0 !important;}
h1{display:none;}
body, html {background:#eee;text-align: left;height: 100%;width: 100%;font-family: "Microsoft YaHei","Helvetica Neue",Arial, HelveticaNeue, "Helvetica-Neue", Helvetica, "BBAlpha Sans", sans-serif;font-size: 16px;font-weight: normal;display: -webkit-box;-webkit-box-orient: vertical; -webkit-box-align: left;}
*{-webkit-tap-highlight-color:rgba(14,159,111,0);-webkit-touch-callout:none;}
body{height:100%;}
#fullPage{ width:640px; height:100%; position:relative; z-index:2;}
.section{ width:640px; }
.main{ position:fixed;width:640px;height:100%;top:0; background:url('../images/bg.jpg') no-repeat; z-index:1;}
.title{ position:absolute; width:640px; height:82px; background:url(../images/title.jpg) no-repeat; top:0; left:0; z-index:10;}
.bti{ position:fixed; width:640px; height:110px; background:url(../images/yybg.jpg) no-repeat; bottom:0; left:0; z-index:10;}
.md1{ position:absolute; width:586px; height:621px; background:url(../images/md1.png) no-repeat; top:20px; left:30px;}
.md2{ position:absolute; width:607px; height:603px; background:url(../images/md2.png) no-repeat; top:20px; left:30px;}
.md3{ position:absolute; width:581px; height:608px; background:url(../images/md3.png) no-repeat; top:20px; left:30px;}
.md4{ position:absolute; width:633px; height:606px; background:url(../images/md4.png) no-repeat; top:20px; }
.yy{ position:absolute; right:12px; top:20px;}
.yz{ position:absolute; right:12px; top:20px; display:none;}
.text{ width:248px; height:32px; padding:20px; padding-right:0; background:url(../images/input.png); font-size:24px; color:#3c4f6c; border:none;}
.submit{ width:181px; height:74px; background:url(../images/btn.png); border:none; margin-left:14px; margin-top:-1px; font-size:26px; color:#f9f9f9; font-family: "Microsoft YaHei"; text-shadow: 0px 2px 2px #a02213;}
.sbtn{ position:absolute; width:65px; height:65px; right:15px; top:12px;}
.share{ position:absolute; width:595px; height:121px; top:82px; background:url(../images/share.png); z-index:20; display:none; padding-left:45px;}
.share a{ display:block; float:left; width:78px; height:80px; margin-top:20px; margin-right:17px;}
.share a.wx{}

/*main stage*/
.mtxt1{ position:absolute; width:580px; height:134px; left:30px; top:160px; background:url(../images/m_txt1.png);opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s; z-index:9;}
.mtxt2{ position:absolute; width:295px; height:75px; left:30px; top:300px; background:url(../images/m_txt2.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.mtxt3{ position:absolute; width:230px; height:117px; left:30px; top:390px; background:url(../images/m_txt3.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.mpeo{ position:absolute; width:439px; height:408px; left:504px; top:240px; background:url(../images/m_peo.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:10;}
.mphone{ position:absolute; width:495px; height:332px; left:400px; top:409px; background:url(../images/m_phone.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:8;}
/*first feature*/
.firtxt1{ position:absolute; width:521px; height:152px; left:55px; top:20px; background:url(../images/fir_txt1.png);opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s; z-index:9;}
.firtxt2{ position:absolute; width:242px; height:29px; left:78px; top:180px; background:url(../images/fir_txt2.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.firtxt3{ position:absolute; width:483px; height:55px; left:80px; top:580px; background:url(../images/fir_txt3.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.firjn{ position:absolute; width:196px; height:143px; left:290px; top:380px; background:url(../images/fir_jn.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:11;
animation: tmd 1s ease infinite alternate;
-moz-animation: tmd 1s ease infinite alternate;
-webkit-animation: tmd 1s ease infinite alternate;
-o-animation: tmd 1s ease infinite alternate;
}
.firpeo{ position:absolute; width:439px; height:336px; left:432px; top:185px; background:url(../images/fir_peo.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:10;}
.firphone{ position:absolute; width:586px; height:176px; left:330px; top:385px; background:url(../images/fir_phone.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:8;}
.stxt1{ position:absolute; width:499px; height:136px; left:70px; top:20px; background:url(../images/s_txt1.png);opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s; z-index:9;}
.stxt2{ position:absolute; width:244px; height:26px; left:70px; top:165px; background:url(../images/s_txt2.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.stxt3{ position:absolute; width:483px; height:55px; left:70px; top:560px; background:url(../images/s_txt3.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.speo{ position:absolute; width:514px; height:359px; left:432px; top:140px; background:url(../images/s_peo.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:10;}
.sphone{ position:absolute; width:582px; height:163px; left:330px; top:375px; background:url(../images/s_phone.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:8;}
.ttxt1{ position:absolute; width:514px; height:139px; left:55px; top:20px; background:url(../images/t_txt1.png);opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s; z-index:9;}
.ttxt2{ position:absolute; width:238px; height:30px; left:78px; top:180px; background:url(../images/t_txt2.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.ttxt3{ position:absolute; width:483px; height:55px; left:80px; top:570px; background:url(../images/t_txt3.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.tjs{ position:absolute; width:455px; height:164px; left:104px; top:337px; background:url(../images/t_peo2.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:11}
.tcir{ position:absolute; width:438px; height:91px; left:105px; top:440px; background:url(../images/t_cir.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:10;
animation: tmd 1s ease infinite alternate;
-moz-animation: tmd 1s ease infinite alternate;
-webkit-animation: tmd 1s ease infinite alternate;
-o-animation: tmd 1s ease infinite alternate;
}
.tpeo{ position:absolute; width:461px; height:275px; left:432px; top:175px; background:url(../images/t_peo.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:10;}
.tphone{ position:absolute; width:581px; height:162px; left:330px; top:385px; background:url(../images/t_phone.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:8;}
.ftxt1{ position:absolute; width:478px; height:132px; left:80px; top:20px; background:url(../images/f_txt1.png);opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s; z-index:9;}
.ftxt2{ position:absolute; width:238px; height:30px; left:80px; top:170px; background:url(../images/f_txt2.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.ftxt3{ position:absolute; width:483px; height:55px; left:80px; top:550px; background:url(../images/f_txt3.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:9}
.fpeo2{ position:absolute; width:205px; height:205px; left:45px; top:290px; background:url(../images/f_peo2.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:11}
.fcir{ position:absolute; width:193px; height:86px; left:250px; top:420px; background:url(../images/f_cir.png); opacity: 0;-webkit-transform:scale(0.5, 0.5); transform:scale(0.5, 0.5); transition: all 1s; -webkit-transition: all 1s;z-index:10;
animation: tmd 1s ease infinite alternate;
-moz-animation: tmd 1s ease infinite alternate;
-webkit-animation: tmd 1s ease infinite alternate;
-o-animation: tmd 1s ease infinite alternate;
}
.fpeo{ position:absolute; width:403px; height:411px; left:532px; top:90px; background:url(../images/f_peo.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:10;}
.fphone{ position:absolute; width:581px; height:162px; left:330px; top:365px; background:url(../images/f_phone.png); opacity: 0; transition: all 1s; -webkit-transition: all 1s;z-index:8;}



.active .mtxt1{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .mtxt2{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.9s;}
.active .mtxt3{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.1s;}
.active .mpeo{opacity:1; left:204px; transition-delay: 1.0s;}
.active .mphone{opacity:1; left:100px; transition-delay: 1.4s;}
.active .firtxt1{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .firtxt2{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.9s;}
.active .firtxt3{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.1s;}
.active .firjn{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.4s;}
.active .firpeo{opacity:1; left:132px; transition-delay: 1.0s;}
.active .firphone{opacity:1; left:30px; transition-delay: 1.4s;}
.active .stxt1{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .stxt2{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.9s;}
.active .stxt3{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.1s;}
.active .speo{opacity:1; left:132px; transition-delay: 1.0s;}
.active .sphone{opacity:1; left:30px; transition-delay: 1.4s;}
.active .ttxt1{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .ttxt2{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.9s;}
.active .ttxt3{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.1s;}
.active .tjs{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.1s;}
.active .tcir{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.4s;}
.active .tpeo{opacity:1; left:132px; transition-delay: 1.0s;}
.active .tphone{opacity:1; left:30px; transition-delay: 1.4s;}
.active .ftxt1{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.7s;}
.active .ftxt2{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 0.9s;}
.active .ftxt3{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.1s;}
.active .fpeo2{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.1s;}
.active .fcir{opacity:1; -webkit-transform:scale(1, 1); transform:scale(1, 1); transition-delay: 1.4s;}
.active .fpeo{opacity:1; left:232px; transition-delay: 1.0s;}
.active .fphone{opacity:1; left:30px; transition-delay: 1.4s;}


.gotoup{ 
width:64px; height:55px; background:url('../images/up.png') no-repeat; position:fixed; left:295px; top:130px; z-index:10; display:none;
animation:updown 0.5s infinite alternate;
-moz-animation:updown 0.5s infinite alternate;
-webkit-animation:updown 0.5s infinite alternate;
-o-animation:updown 0.5s infinite alternate;
}
.gotodown{ 
width:64px; height:55px; background:url('../images/down.png') no-repeat; position:fixed; left:295px; bottom:145px; z-index:10;
animation:godown 0.5s infinite alternate;
-moz-animation:godown 0.5s infinite alternate;
-webkit-animation:godown 0.5s infinite alternate;
-o-animation:godown 0.5s infinite alternate;
}

@keyframes updown
{
0%   {top:130px;}
100% {top:110px;}
}

@-moz-keyframes updown
{
0%   {top:130px;}
100% {top:110px;}
}

@-webkit-keyframes updown 
{
0%   {top:130px;}
100% {top:110px;}
}

@-o-keyframes updown 
{
0%   {top:130px;}
100% {top:110px;}
}

@keyframes godown
{
0%   {bottom:145px;}
100% {bottom:165px;}
}

@-moz-keyframes godown 
{
0%   {bottom:145px;}
100% {bottom:165px;}
}

@-webkit-keyframes godown
{
0%   {bottom:145px;}
100% {bottom:165px;}
}

@-o-keyframes godown 
{
0%   {bottom:145px;}
100% {bottom:165px;}
}

@keyframes tmd
{
0%   {opacity:1;}
50%  {opacity:0.2;}
100% {opacity:1;}
}

@-moz-keyframes tmd
{
0%   {opacity:1;}
50%  {opacity:0.2;}
100% {opacity:1;}
}

@-webkit-keyframes tmd
{
0%   {opacity:1;}
50%  {opacity:0.2;}
100% {opacity:1;}
}

@-o-keyframes tmd
{
0%   {opacity:1;}
50%  {opacity:0.2;}
100% {opacity:1;}
}
