html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font:24px "Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif;}
ul,li,div,p,body{margin:0;padding:0;-moz-user-select: none;-khtml-user-select: none;user-select: none;text-align:left;}
li{list-style:none;}
a{text-decoration:none;}
.hide{display:none;}
body, html {background:#f5f5f5;text-align: left;height: 100%;width: 100%; font-size: 16px;font-weight: normal;display: -webkit-box;-webkit-box-orient: vertical; -webkit-box-align: center;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0.2);-webkit-touch-callout:none;}

.content{position:relative;width:640px;margin:0 auto;}
.gzh_wrap{ position:relative; margin:10px; border-radius:5px; background:#FFF;}
.gzh_left{ float:left; width:83px;}
.gzh_left img{ border:1px solid #b1b1b1; margin:10px;}
.clearfloat{ clear:both;}
.gzh_right{ float:left; width:460px;}
.gzh_right h1{ font-size:20px; color:#76c73b;}
.gzh_right p{ font-size:20px; color:#5b5b5b; margin-bottom:10px;}
.gzh_gz{ display:block; position:absolute; top:50%; right:15px; width:52px; height:19px; background:url(../images/add.png); margin-top:-10px;}