@charset "gb2312";
/* CSS Document */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
body{padding:0; margin:0; background:#0c1d2d;}
html,body,fieldset,img,iframe,abbr{border:0;}
li{list-style:none;}
textarea{overflow:auto;resize:none;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:14px  "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53,"PT Sans Narrow";color:#62a1c9;}
a{color:#608eac;}
a:hover{color:#009bff;}

#ceshi, #ceshi1{ position:fixed; top:0; z-index:100;} #ceshi1{ left:300px;} 
.wrap{ width:100%;}
.content{ position:relative; margin:0 auto; height:100px; background:#CCC;}

.topmenu{ position:absolute; z-index:999; width:100%; top:20px;}
.topmenu ul{ float:right;}
.topmenu ul li{ float:left; padding-right:20px; padding-left:10px; background:url(../images/topmenu.png) right top no-repeat;}
.topmenu ul li a{ display:block; font-size:14px; color:#d9eaf5;}
.topmenu ul li a:hover{ color:#009bff;}
.topmenu ul li a span{ display:block; font-size:8px !important;}

.fx_grid_c1{width:1200px;margin:0 auto;}

.fx_banner{background:#f0f0f0;width:1920px; height:970px;overflow:hidden;position:relative}
.fx_banner_inner{position:relative;height:970px}

.fx_banner_img{width:20000px}
.fx_banner_img li{float:left;height:970px;width:1903px;position:relative}
.fx_banner_link{position:absolute;top:0;left:0;width:100%;height:750px;cursor:pointer; }

.fx_banner .child{position:absolute; z-index:100;}
.fx_banner .child.down{left:105px;top:515px; width:242px; height:104px; background:url(../images/download.png) no-repeat;}
.fx_banner .child.down a{ position:absolute; top:0; bottom:0; left:0; right:17px;}
.fx_banner .child.down:hover{ background-position:0 -104px;}
.fx_banner .child.reg{left:333px;top:529px; width:242px; height:90px; background:url(../images/register.png) no-repeat;}
.fx_banner .child.reg a{ position:absolute; top:0; bottom:0; left:17px; right:0;}
.fx_banner .child.reg:hover{ background-position:0 -90px;}
.fx_banner_common{position:relative}
.fx_banner_common a{position:absolute;top:50%;margin-top:-315px;width:41px;height:119px;cursor:pointer;display:block;overflow:hidden;opacity:.5;filter:alpha(opacity=50);}
#js_banner_pre{ position:absolute;left:30px; top:345px; width:73px; height:73px;cursor:pointer; background:url(../images/btnleft.png) center center no-repeat;}
#js_banner_pre:hover{opacity:.6;filter:alpha(opacity=60);}
#js_banner_next{ position:absolute;right:30px; top:345px; width:73px; height:73px;cursor:pointer; background:url(../images/btn.png) center center no-repeat;}
#js_banner_next:hover{ opacity:.6;filter:alpha(opacity=60);}
#js_banner .leftdot{ position:absolute; background:url(../images/leftdot.png) no-repeat; width:25px; height:10px; left:115px; top:375px;}
.btn_wrap_pre{ position:absolute;width:73px; height:73px;background:url(../images/btnwrap.png);
transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;
}
.btn_wrap_pre:hover{
transform: rotate(360deg);-ms-transform: rotate(360deg);	-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);-moz-transform: rotate(360deg);
}
.btn_wrap_next{ position:absolute;width:73px; height:73px;background:url(../images/btnwrap.png);
transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;
}
.btn_wrap_next:hover{
transform: rotate(360deg);-ms-transform: rotate(360deg);	-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);-moz-transform: rotate(360deg);
}
.fx_banner .control{width:200px;position:absolute;top:370px; right:110px;text-align:right;}
.fx_banner .control li{display:inline-block;*display:inline;*zoom:1;margin:0 5px;width:10px;height:10px; border-radius:50%;cursor:pointer;background:#fff;}
.fx_banner .control li a{display:none}
.fx_banner .control li.current{background:#ff3c00;}

.menu_down{ position:absolute; height:180px; top:970px; background:url(../images/menubg.png) repeat; padding:20px 10px 20px 10px;opacity:1;filter:alpha(opacity=1); z-index:9;}
.menu_down .activity{ position:relative; float:left; height:180px; background:url(../images/activity.png) right center no-repeat; margin:0 10px 0 10px;}
.menu_down .activity .act_wrap{ position:relative; margin:30px auto; width:335px;}
.menu_down .activity .act_wrap .act_left{ width:163px; height:143px; background:url(../images/acti_bg.png) no-repeat; float:left;}
.menu_down .activity .act_wrap .act_left img{ margin-top:25px; margin-left:25px;}
.menu_down .activity .act_wrap .act_txt{ display:block; color:#fff; transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;}
.menu_down .activity .act_wrap .act_txt:hover{ color:#e66d48;}
.menu_down .activity .act_wrap .act_txt h1{ font-size:32px; display:block; line-height:40px;}
.menu_down .activity .act_wrap .act_txt h1 img{ position:relative; top:5px; left:4px;}
.menu_down .activity .act_wrap .act_txt h2{ font-size:18px; display:block; line-height:40px;}

.news{ position:relative;height:450px; background:url(../images/news_bg.jpg) center top no-repeat; z-index:10;}
.news .ntop{ position:relative; width:100%; height:170px; background:url(../images/news_top.png) center 28px no-repeat;}
.news .ntop a{ position:absolute;display:block; width:80px; height:16px; color:#fff; font-size:14px; line-height:16px; font-weight:bold; background:url(../images/more.png) right center no-repeat; top:65px; right:40px;transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;}
.news .ntop a:hover{ color:#e66d48;}
.news .nouter{ position:relative; left:-800px;}
.news .nwrap{ position:relative; float:left; height:255px; border-right:1px solid #163755;}
.news .nwrap .ncontent{ position:relative; margin:0 auto; width:330px; }
.news .nwrap .ncontent .title{ display:block;font-size:19px; font-weight:bold;}
.news .nwrap .ncontent .time{ font-size:12px;}
.news .nwrap .ncontent img{ display:block;}
.news .nwrap .ncontent .ntxt{ line-height:24px; margin-top:20px;}
.news .nwrap .ncontent a.nyd{ display:block; width:121px; height:41px; background:url(../images/news_yd.jpg) no-repeat; margin-top:20px; color:#ff450c; text-align:center; line-height:36px; font-size:14px; cursor:pointer;}
.news .nwrap .ncontent a.nyd:hover{ background-position:0 -41px; color:#e66d48;}
.news .nwrap .ncontent ul{ position:relative; width:321px;}
.news .nwrap .ncontent ul li{ height:72px; background:url(../images/news_line1.png) left 47px no-repeat;}
.news .nwrap .ncontent ul li span{ position:absolute; right:0;}

.hero{ position:relative;height:745px; margin-top:30px; background:url(../images/hero_bg.jpg) center top no-repeat; overflow:hidden;}
.hero .htitle{ position:absolute; width:58px; height:435px; background:url(../images/hero_attack.png) no-repeat; top:80px; left:-100px;}
.hero .htitle2{ position:absolute; width:58px; height:435px; background:url(../images/hero_defense.png) no-repeat; top:80px; left:-100px;}
.hero .hleft{ position:absolute; width:37px; height:31px; background:url(../images/left.png) no-repeat; top:230px; left:140px; cursor:pointer;}
.hero .hleft:hover{ background-position:0 -31px;}
.hero .hright{ position:absolute; width:37px; height:31px; background:url(../images/right.png) no-repeat; top:230px; right:140px; cursor:pointer;}
.hero .hright:hover{ background-position:0 -31px;}
.hero .htype{ position:absolute; width:198px; height:218px; background:url(../images/hero_line.png) no-repeat; bottom:45px; right:-200px;}
.hero .htype .htbtn{ position:absolute; width:95px; height:88px; background:url(../images/type.png) no-repeat; bottom:0; right:15px; cursor:pointer;}
.hero .htype .htbtn:hover{ background-position:0 -88px;}
.hero .htype .htbtn2{ position:absolute; width:95px; height:86px; background:url(../images/type2.png) no-repeat; bottom:0; right:15px; cursor:pointer; display:none;}
.hero .htype .htbtn2:hover{ background-position:0 -86px;}
.hero .t1hero1{ position:absolute; width:302px; height:552px; background:url(../images/hero_a_jsz.png) 0 0 no-repeat; left:-600px; margin-left:-460px; top:30px; cursor:pointer;}
.hero .t1hero1:hover{ background-position:-302px 0;}
.hero .t1hero2{ position:absolute; width:305px; height:615px; background:url(../images/hero_a_wlzs.png) 0 0 no-repeat; left:-600px; margin-left:-140px; top:30px; cursor:pointer;}
.hero .t1hero2:hover{ background-position:-305px 0;}
.hero .t1hero3{ position:absolute; width:370px; height:540px; background:url(../images/hero_a_pnz.png) 0 0 no-repeat; left:-600px; margin-left:140px; top:40px; cursor:pointer;}
.hero .t1hero3:hover{ background-position:-370px 0;}
.hero .t1hero4{ position:absolute; width:378px; height:537px; background:url(../images/hero_a_hpg4.png) 0 0 no-repeat; left:-600px; margin-left:-550px; top:40px; cursor:pointer;}
.hero .t1hero4:hover{ background-position:-378px 0;}
.hero .t1hero5{ position:absolute; width:380px; height:622px; background:url(../images/hero_a_hero5.png) 0 0 no-repeat; left:-600px; margin-left:-200px; top:14px; cursor:pointer;}
.hero .t1hero5:hover{ background-position:-380px 0;}
.hero .t1hero6{ position:absolute; width:367px; height:522px; background:url(../images/hero_a_llt6.png) 0 0 no-repeat; left:-600px; margin-left:170px; top:60px; cursor:pointer;}
.hero .t1hero6:hover{ background-position:-367px 0;}
.hero .t2hero1{ position:absolute; width:239px; height:531px; background:url(../images/hero_b_1.png) 0 0 no-repeat; left:-600px; margin-left:-390px; top:50px; cursor:pointer;}
.hero .t2hero1:hover{ background-position:-239px 0;}
.hero .t2hero2{ position:absolute; width:251px; height:617px; background:url(../images/hero_b_2.png) 0 0 no-repeat; left:-600px; margin-left:-100px; top:17px; cursor:pointer;}
.hero .t2hero2:hover{ background-position:-251px 0;}
.hero .t2hero3{ position:absolute; width:251px; height:582px; background:url(../images/hero_b_3.png) 0 0 no-repeat; left:-600px; margin-left:235px; top:5px; cursor:pointer;}
.hero .t2hero3:hover{ background-position:-251px 0;}
.hero .t2hero4{ position:absolute; width:229px; height:573px; background:url(../images/hero_b_4.png) 0 0 no-repeat; left:-600px; margin-left:-270px; top:25px; cursor:pointer;}
.hero .t2hero4:hover{ background-position:-229px 0;}
.hero .t2hero5{ position:absolute; width:561px; height:514px; background:url(../images/hero_b_5.png) 0 0 no-repeat; left:-600px; margin-left:15px; top:140px; cursor:pointer;}
.hero .t2hero5:hover{ background-position:-561px 0;}


.hero .hinfo{ position:absolute; width:519px; height:409px; background:url(../images/heroinfo.png) no-repeat; left:50%; top:70px; margin-left:-185px; z-index:102; display:none;}
.hero .hinfo .hclose{ position:absolute; top:30px; right:0; width:42px; height:42px; background:url(../images/hclose.png) no-repeat; cursor:pointer;}
.hero .hinfo .hclose:hover{ background-position:0 -42px;}
.hero .hinfo .hce{ position:absolute; width:83px; height:83px; top:0; left:120px;}
.hero .hinfo .hptitle{ position:absolute; top:25px; left:210px; font-size:25px; font-weight:bold; color:#fff; text-align:left;}
.hero .hinfo .hptitles{ position:absolute; top:40px; left:320px; text-align:left; font-size:16px; color:#fff;}
.hero .hinfo .htxt{ position:absolute; width:305px; height:55px; color:#62a1c9; left:130px; top:95px; font-size:12px;}
.hero .hinfo .htxt2{ position:absolute; width:175px; height:50px; color:#62a1c9; left:130px; top:180px; font-size:12px; line-height:30px;}
.hero .hinfo .htxt2 img{ margin-right:5px;}
.hero .hinfo .htxt3{ position:absolute; width:175px; height:50px; color:#62a1c9; left:310px; top:180px; font-size:12px; line-height:30px;}
.hero .hinfo .htxt3 img{ margin-right:5px;}
.hero .hinfo .hdata{ position:absolute; left:130px; top:245px; color:#fff; font-size:12px; line-height:24px;}
.hero .hinfo .hmore{ position:absolute; display:block; left:130px; top:390px; width:121px; height:41px; background:url(../images/herom.png) no-repeat;}
.hero .hinfo .hmore:hover{ background-position:0 -41px;}

.ways{ position:relative;height:910px; padding-top:190px; background:url(../images/ways_bg.jpg) center top no-repeat;}
.ways .w1wrap{ position:relative; margin:0 auto; width:1140px; height:365px; }
.ways .w1wrap .w1{ position:relative; width:282px; height:265px; float:left;}
.ways .w1wrap .w1 .w11{ position:absolute; width:282px; height:155px; background:url(../images/w1.png) no-repeat; top:0; left:0; transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;
-webkit-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    -o-transform:scale(1.5,1.5);
    -ms-transform:scale(1.5,1.5);
    transform:scale(1.5,1.5);
	opacity:0;
}

.ways .w1wrap .w1 .scale1{ -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
    -ms-transform:scale(1,1);
    transform:scale(1,1);
	opacity:1;
}
.ways .w1wrap .w1 .w12{ position:absolute; width:40px; height:155px; background:url(../images/w1_3.png) no-repeat; top:0; left:54px;}
.ways .w1wrap .w1 .w131{ position:absolute; width:16px; height:70px; background:url(../images/w1_1.png) no-repeat; top:58px; left:130px;}
.ways .w1wrap .w1 .w132{ position:absolute; width:16px; height:70px; background:url(../images/w1_1.png) no-repeat; top:58px; left:149px;}
.ways .w1wrap .w1 .w133{ position:absolute; width:16px; height:70px; background:url(../images/w1_1.png) no-repeat; top:58px; left:168px;}
.ways .w1wrap .w1 .w134{ position:absolute; width:16px; height:70px; background:url(../images/w1_1.png) no-repeat; top:58px; left:187px;}
.ways .w1wrap .w1 .w135{ position:absolute; width:16px; height:70px; background:url(../images/w1_1.png) no-repeat; top:58px; left:206px;}
.ways .w1wrap .w1 .w14{ position:absolute; width:158px; height:95px; background:url(../images/w1_2.png) no-repeat; top:58px; left:85px;}
.ways .w1wrap .wtxt{ position:absolute; left:0; bottom:0; width:210px; height:70px;}
.ways .w1wrap .wtxt h1{ font-size:24px;}
.ways .w1wrap .wtxt h1 span{ font-weight:normal; font-size:10px;}
.ways .w1wrap .wtxt p{ font-size:12px;}
.ways .w1wrap .w2{ position:relative; width:349px; height:360px; background:url(../images/w2.png) no-repeat; float:left; margin-left:135px;}
.ways .w1wrap .w2 .w21{ position:absolute; width:335px; height:154px; background:url(../images/w2_3.png) no-repeat; top:90px; left:15px; transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;
-webkit-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    -o-transform:scale(1.5,1.5);
    -ms-transform:scale(1.5,1.5);
    transform:scale(1.5,1.5);
	opacity:0;
}
.ways .w1wrap .w2 .w22{ position:absolute; width:19px; height:12px; background:url(../images/w2_1.png) no-repeat; top:115px; left:178px; transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;
-webkit-transform:scale(6,6);
    -moz-transform:scale(6,6);
    -o-transform:scale(6,6);
    -ms-transform:scale(6,6);
    transform:scale(6,6);
	opacity:0;
}
.ways .w1wrap .w2 .scale1{ -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
    -ms-transform:scale(1,1);
    transform:scale(1,1);
	opacity:1;
}
.ways .w1wrap .w2 .w23{ position:absolute; width:269px; height:46px; background:url(../images/w2_2.png) no-repeat; top:220px; left:50px;}
.ways .w1wrap .w3{ position:relative; width:282px; height:320px; background:url(../images/w3.png) no-repeat; float:left; margin-left:90px;}
.ways .w1wrap .w3 .w31{ position:absolute; width:282px; height:136px; background:url(../images/w3_1.png) no-repeat; top:67px; left:0px; transition: all 1s;-moz-transition: all 1s;-webkit-transition: all 1s;-o-transition: all 1s;
-webkit-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    -o-transform:scale(1.5,1.5);
    -ms-transform:scale(1.5,1.5);
    transform:scale(1.5,1.5);
	opacity:0;
}
.ways .w1wrap .w3 .scale1{ -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
    -ms-transform:scale(1,1);
    transform:scale(1,1);
	opacity:1;
}
.ways .w2wrap{ position:relative; margin:180px auto; width:1150px; height:320px;}
.ways .w2wrap .wp{ position:relative; float:left; width:24.9%; border-right:1px solid #2a4e67; height:181px;}
.ways .w2wrap .wp .wtxt{ position:absolute; bottom:-100px; left:0; width:210px; height:70px;}
.ways .w2wrap .wp .wtxt h1{ font-size:24px;}
.ways .w2wrap .wp .wtxt h1 span{ font-weight:normal; font-size:10px;}
.ways .w2wrap .wp .wtxt p{ font-size:12px;}
.ways .w2wrap .wp .w4{ position:absolute; right:40px; width:215px; height:166px;}
.ways .w2wrap .wp .w4 .w41{ position:absolute;width:215px; height:166px; background:url(../images/w4.png) no-repeat; }
.ways .w2wrap .wp .w4 .w42{ position:absolute;width:80px; height:78px; background:url(../images/w4_1.png) no-repeat; top:20px; left:22px;z-index:2;}
.ways .w2wrap .wp .w5{ position:absolute; right:5px; bottom:0; width:274px; height:206px; background:url(../images/w5.png) no-repeat;}
.ways .w2wrap .wp .w6{ position:absolute; right:5px; bottom:0; width:267px; height:210px; background:url(../images/w6.png) no-repeat;}
.ways .w2wrap .wp .w6 .w61{ position:absolute;width:72px; height:72px; background:url(../images/w6_1.png) no-repeat; left:46px; top:53px; }
.ways .w2wrap .wp .w7{ position:absolute; left:25px; bottom:0; width:200px; height:207px;}
.ways .w2wrap .wp .w71{ position:absolute; width:200px; height:207px; background:url(../images/w7.png) no-repeat; z-index:2;}
.ways .w2wrap .wp .w72{ position:absolute; width:65px; height:65px; background:url(../images/w7_1.png) no-repeat; top:52px;}

.pics{ position:relative;height:480px; background:url(../images/pic_bg.jpg) center top no-repeat; padding-top:125px; padding-left:130px; padding-right:130px;}
.pics #carousel li .btnv{ position:absolute; top:0; bottom:0; left:0; right:0; background:url(../images/vbtn.png) center center no-repeat; cursor:pointer; z-index:10; opacity:.8;filter:alpha(opacity=80);}
.pics #carousel li .btnv:hover{ opacity:1;filter:alpha(opacity=100);}
.pics #carousel li img{ position:absolute; left:50%; margin-left:-197px; z-index:9;}

.videoPop{ display:none; position:fixed;_position:absolute;left:50%;_left:400px;top:50%;_top:225px;z-index:999;width:800px;height:450px;margin:-225px 0 0 -400px;}
.videoPop .popClose{position:absolute;top:0;right:-70px;width:70px;height:70px;cursor:pointer; background:url(../images/videoPopClose.jpg);}
.videoPop .popContent{overflow:hidden;width:800px;height:450px;background:#000;}

.overlay, #overlay{ position:fixed; width:100%; height:100%; top:0; bottom:0; background:url(../images/laybg.png) repeat; z-index:20; display:none;}

#carousel { position:relative; height:270px; }
#carousel li { display: block; width:394px; height: 202px; margin: 9px; float: left; position: relative; text-align:center; overflow:hidden; border:1px solid #1e303f; }
.pics #prev { position:absolute; width:66px; height:76px; left:40px; top:190px; display:block; background:url(../images/picleft.png) no-repeat; cursor:pointer; }
.pics #next { position:absolute; width:66px; height:76px; right:40px; top:190px; display:block; background:url(../images/picright.png) no-repeat; cursor:pointer; }
.pics .tip{ width:850px; font-size:12px; color:#3b4f5d; margin:30px auto; line-height:20px; padding-left:100px;}
#ncp-l2{ color:#3b4f5d;}
#NIE-copyRight{ margin-top:10px;}